-- Script Date: 22/08/2014 15:26  - ErikEJ.SqlCeScripting version 3.5.2.39
-- Database information:
-- locale identifier: 1033
-- encryption mode: 
-- case sensitive: False
-- Database: C:\Users\uc178479\Documents\Visual Studio 2010\Projects\Phalanx\Phalanx.UI\database\PhalanxBeta.sdf
-- ServerVersion: 3.5.8080.0
-- DatabaseSize: 100 KB
-- Created: 16/06/2014 10:24

-- User Table information:
-- Number of tables: 4
-- TB_ITENSTESTE: 9 row(s)
-- teste: 5 row(s)
-- TS_MODULOS: 2 row(s)
-- TS_TELAS: 4 row(s)

CREATE TABLE [TS_TELAS] (
  [PK_ID] int IDENTITY (5,1) NOT NULL
, [DS_TELA] nvarchar(50) NULL
, [DS_FORM] nvarchar(120) NULL
, [NR_ORDEM] int NULL
, [FK_MODULO] int NULL
, [FK_COLUNA] int NULL
);
GO
CREATE TABLE [TS_MODULOS] (
  [PK_ID] int IDENTITY (3,1) NOT NULL
, [DS_MODULO] nvarchar(50) NULL
, [NR_ORDEM] int NULL
);
GO
CREATE TABLE [teste] (
  [PK_ID] int IDENTITY (12,1) NOT NULL
, [DS_EXEMPLO] nvarchar(100) NULL
, [VL_EXEMPLO] numeric(10,2) NULL
, [DH_INCLUSAO] datetime NULL
, [DH_ALTERACAO] datetime NULL
);
GO
CREATE TABLE [TB_ITENSTESTE] (
  [PK_ID] int IDENTITY (13,1) NOT NULL
, [FK_TESTE] int NULL
, [DS_ITEM] nvarchar(40) NULL
, [DT_ITEM] datetime NULL
);
GO
SET IDENTITY_INSERT [TS_TELAS] ON;
GO
INSERT INTO [TS_TELAS] ([PK_ID],[DS_TELA],[DS_FORM],[NR_ORDEM],[FK_MODULO],[FK_COLUNA]) VALUES (1,N'Teste',N'Form1',0,1,1);
GO
INSERT INTO [TS_TELAS] ([PK_ID],[DS_TELA],[DS_FORM],[NR_ORDEM],[FK_MODULO],[FK_COLUNA]) VALUES (2,N'Clientes',N'CLIENTES_CONSULTAR',0,2,1);
GO
INSERT INTO [TS_TELAS] ([PK_ID],[DS_TELA],[DS_FORM],[NR_ORDEM],[FK_MODULO],[FK_COLUNA]) VALUES (3,N'Produtos',N'PRODUTOS_CONSULTAR',1,2,2);
GO
SET IDENTITY_INSERT [TS_TELAS] OFF;
GO
SET IDENTITY_INSERT [TS_MODULOS] ON;
GO
INSERT INTO [TS_MODULOS] ([PK_ID],[DS_MODULO],[NR_ORDEM]) VALUES (1,N'Testes',1);
GO
INSERT INTO [TS_MODULOS] ([PK_ID],[DS_MODULO],[NR_ORDEM]) VALUES (2,N'Cadastros',2);
GO
SET IDENTITY_INSERT [TS_MODULOS] OFF;
GO
SET IDENTITY_INSERT [teste] ON;
GO
INSERT INTO [teste] ([PK_ID],[DS_EXEMPLO],[VL_EXEMPLO],[DH_INCLUSAO],[DH_ALTERACAO]) VALUES (1,N'LUCAS',1500.00,{ts '2014-05-27 10:10:00.000'},NULL);
GO
INSERT INTO [teste] ([PK_ID],[DS_EXEMPLO],[VL_EXEMPLO],[DH_INCLUSAO],[DH_ALTERACAO]) VALUES (2,N'JAMES',250.00,{ts '2014-05-27 10:10:00.000'},NULL);
GO
INSERT INTO [teste] ([PK_ID],[DS_EXEMPLO],[VL_EXEMPLO],[DH_INCLUSAO],[DH_ALTERACAO]) VALUES (3,N'NEILTON ',0.10,{ts '2014-05-27 10:10:00.000'},NULL);
GO
SET IDENTITY_INSERT [teste] OFF;
GO
SET IDENTITY_INSERT [TB_ITENSTESTE] ON;
GO
INSERT INTO [TB_ITENSTESTE] ([PK_ID],[FK_TESTE],[DS_ITEM],[DT_ITEM]) VALUES (1,2,N'ITEM LEGAL DAHORA',{ts '1995-12-11 00:00:00.000'});
GO
INSERT INTO [TB_ITENSTESTE] ([PK_ID],[FK_TESTE],[DS_ITEM],[DT_ITEM]) VALUES (4,3,N'TESTE Y',NULL);
GO
INSERT INTO [TB_ITENSTESTE] ([PK_ID],[FK_TESTE],[DS_ITEM],[DT_ITEM]) VALUES (5,3,N'TESTE X',NULL);
GO
SET IDENTITY_INSERT [TB_ITENSTESTE] OFF;
GO
ALTER TABLE [TS_TELAS] ADD CONSTRAINT [PK__TB_TELAS__0000000000000028] PRIMARY KEY ([PK_ID]);
GO
ALTER TABLE [TS_MODULOS] ADD CONSTRAINT [PK__TB_MODULOS__0000000000000018] PRIMARY KEY ([PK_ID]);
GO
ALTER TABLE [teste] ADD CONSTRAINT [PK__teste__000000000000000C] PRIMARY KEY ([PK_ID]);
GO
ALTER TABLE [TB_ITENSTESTE] ADD CONSTRAINT [PK__TB_ITENSTESTE__0000000000000052] PRIMARY KEY ([PK_ID]);
GO


CREATE TABLE TS_COMBOITENS
(
 PK_ID INTEGER IDENTITY NOT NULL PRIMARY KEY NONCLUSTERED,
 
 CD_ITEM VARCHAR(3),
 DS_ITEM VARCHAR(100),
 DS_TABELA VARCHAR(50),

 TG_INATIVO NUMERIC(1) DEFAULT 0,
 FK_OWNER INTEGER NOT NULL DEFAULT 0,
 DH_INCLUSAO SMALLDATETIME,
 DH_ALTERACAO SMALLDATETIME
)


