<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

 <connectionStrings>
    <add name="LocalDBCon"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\database\PhalanxBeta.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
 
  <add name="SqlServerCon"
      connectionString="Data Source=LOCALHOST\sqlexpress;Initial Catalog=Phalanx;User ID=sa;Password=Catrina@123" providerName="System.Data.SqlClient" />
 


  </connectionStrings>
</configuration>
